@font-face{
    font-family: 'Droid Arabic Kufi';
    src: url('DroidKufi/DroidKufi-Regular.ttf') format('truetype');
    font-weight: normal;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
body{
    font-family: 'Droid Arabic Kufi' , serif;
    /*font-weight: 550;*/
}
nav{
    display: flex;
    direction: rtl;
    height: 72px;
    line-height: 72px;
    background-color: #16a085;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 50px;
}
.mainnav, .user{
    margin-right: 80px;
    list-style-type: none;
}
nav div, nav li{
    display: inline-block;
    margin-right: 10px;
    color: white;
}
nav li a{
    color: inherit;
    text-decoration: inherit;
}
.searchbox{
    display: inline-block;
    background: none;
    border: 2px solid #fff;
    border-radius: 25px;
    color: #fff;
    font-size: 14px;
    text-align: right;
    padding: 7px 15px;
    height: 19px;
    width: 180px;
}
textarea::-webkit-input-placeholder {
color: green;
}

/* jssor slider bullet navigator skin 05 css */
        /*
        .jssorb05 div           (normal)
        .jssorb05 div:hover     (normal mouseover)
        .jssorb05 .av           (active)
        .jssorb05 .av:hover     (active mouseover)
        .jssorb05 .dn           (mousedown)
        */
        .jssorb05 {
            position: absolute;
        }
        .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
            position: absolute;
            /* size of bullet elment */
            width: 16px;
            height: 16px;
            background: url('../img/b05.png') no-repeat;
            overflow: hidden;
            cursor: pointer;
        }
        .jssorb05 div { background-position: -7px -7px; }
        .jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
        .jssorb05 .av { background-position: -67px -7px; }
        .jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

        /* jssor slider arrow navigator skin 22 css */
        /*
        .jssora22l                  (normal)
        .jssora22r                  (normal)
        .jssora22l:hover            (normal mouseover)
        .jssora22r:hover            (normal mouseover)
        .jssora22l.jssora22ldn      (mousedown)
        .jssora22r.jssora22rdn      (mousedown)
        .jssora22l.jssora22lds      (disabled)
        .jssora22r.jssora22rds      (disabled)
        */
        .jssora22l, .jssora22r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 40px;
            height: 58px;
            cursor: pointer;
            background: url('../img/a22.png') center center no-repeat;
            overflow: hidden;
        }
        .jssora22l { background-position: -10px -31px; }
        .jssora22r { background-position: -70px -31px; }
        .jssora22l:hover { background-position: -130px -31px; }
        .jssora22r:hover { background-position: -190px -31px; }
        .jssora22l.jssora22ldn { background-position: -250px -31px; }
        .jssora22r.jssora22rdn { background-position: -310px -31px; }
        .jssora22l.jssora22lds { background-position: -10px -31px; opacity: .3; pointer-events: none; }
        .jssora22r.jssora22rds { background-position: -70px -31px; opacity: .3; pointer-events: none; }

.second-nav{
    display: flex;
    direction: rtl;
    height: 45px;
    line-height: 45px;
    background-color: #fff;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 50px;
    list-style-type: none;
}
.second-nav li{
    display: inline-block;
    margin-right: 10px;
    color: #929292;
}
.second-nav li a{
    color: inherit;
    text-decoration: inherit;
}
.showcase{
    display: flex;
    direction: rtl;
    background-color: #2d3538;
}
.showcase ul li{
    list-style-type : none;

}
.showcase ul{
    display: flex;
    direction: rtl;
}
.showcase-right{
    background: #293033;
    border-left: 1px solid #202628;
    width: 20%;
    height: 425px;
    color: #fff;
    float: right;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.showcase-right h1{
    width: 200px;
    margin: 130px auto 0;
    font-weight: bold;
}
.showcase-right a{
    border: 1px solid #fff;
    text-align: center;
    color: #fff;
    height: 45px;
    line-height: 45px;
    overflow: hidden;
    width: 190px;
    margin: 25px auto 0;
    display: block;
    background-position: -300px -145px;
    transition: all 0.6s ease-in 0s;
}
.showcase-content{
    width: 80%;
    float: left;
    position: relative;
    height: 425px;
    background: #2d3538;
    overflow-x:scroll;
}
.showitems{
    height: 340px;
    position: absolute;
    top: 35px;
    right: 0px;

}
.showitems li{
    margin-right: 58px;
    display: inline;
}
.showitems li p{
    height: 30px;
    line-height: 30px;
    color: #000;
    text-align: center;
    background: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}
.showitems li a{
    color: #000;
    display: block;
    position: relative;
}